## Deliverable 3. Create a Travel Itinerary Map.

In [260]:
# Add the path of the sys.path file. For the config file holding the API keys. 
sys.path.append('C:/Users/johnfortucci/class/WeatherPy')

# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [261]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Desaguadero,PE,47.17,Clouds,-16.57,-69.04,inteeno hotel
1,4,Rikitea,PF,80.29,Clouds,-23.12,-134.97,People ThankYou
2,5,Hilo,US,78.53,Clouds,19.73,-155.09,Hilo Hawaiian Hotel
3,6,Bluff,NZ,65.80,Clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
4,7,Itoman,JP,75.58,Clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa

In [262]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [263]:
# 4a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [264]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Busselton']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Busselton']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Codrington']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'New Norfolk'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Emerald']

In [265]:

vacation_end.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
40,57,Busselton,AU,75.7,Clouds,-33.65,115.33,Observatory Guest House

In [266]:
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
40,57,Busselton,AU,75.7,Clouds,-33.65,115.33,Observatory Guest House

In [267]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [268]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create the map
fig = gmaps.figure()

# Create the layer
layer = gmaps.directions.Directions(start, end, waypoints=[stop1 , stop2 , stop3] ,mode='DRIVING')
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1 , stop2 , stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [269]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,57,Busselton,AU,75.70,Clouds,-33.65,115.33,Observatory Guest House
1,27,Codrington,AU,76.24,Rain,-38.27,141.97,Codrington Gardens Bed And Breakfast
2,69,New Norfolk,AU,63.90,Clouds,-42.78,147.06,The Shingles Riverside Cottages
3,41,Emerald,AU,86.14,Clouds,-23.53,148.17,The Irish Village

In [272]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [273]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))